<ng-container *ngIf="!(connector.connected$ | async)">
  <div [style.padding]="'1rem .3rem'">
    <div [style.padding]="'0 .7rem'">
      <ng-container [ngSwitch]="hasMetamask">
        <ng-container *ngSwitchCase="true">
          <ng-container *ngIf=showInputs>
            <div *ngIf=showRpcUrl>
              <mat-form-field appearance="fill" [style.display]="'block'">
                <mat-label>RPC Url</mat-label>
                <input matInput [formControl]="rpcUrlControl" placeholder="Ex. http://127.0.0.1:8545"/>
                <mat-error *ngIf="rpcControlErrorText">{{rpcControlErrorText}}</mat-error>
              </mat-form-field>
            </div>

            <div *ngIf=showPrivateKey>
              <mat-form-field appearance="fill" [style.display]="'block'">
                <mat-label>Private Key</mat-label>
                <input matInput [formControl]="rpcPrivateKeyControl" placeholder="Optional"/>
              </mat-form-field>
            </div>
          </ng-container>

          <mat-form-field [style.width]="'100%'">
            <mat-label>Search network to connect</mat-label>
            <mat-autocomplete [displayWith]="displaySelectedChain" #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredChainList | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
            <input type="text" matInput [formControl]="selectedChain" [matAutocomplete]="auto" />
            <button matSuffix mat-icon-button (click)="selectedChain.setValue('')"><mat-icon>clear</mat-icon></button>
          </mat-form-field>

        </ng-container>
        <ng-container *ngSwitchCase="false"><a href="https://metamask.io/" target="_blank">Install metamask</a>
        </ng-container>
      </ng-container>
    </div>

    <div>
      <button mat-raised-button color="primary" [style.width]="'100%'" (click)="connect()">connect</button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="viewAddress">
  <mat-toolbar>
    <mat-toolbar-row [style.justify-content]="'center'"><span>{{viewAddress}}</span></mat-toolbar-row>
    <mat-toolbar-row [style]="{justifyContent: 'center', height: 'auto', marginTop: '-1.5rem'}" *ngIf="(connector.wrongChain$ | async)">
      <span [style.color]="'darkred'" [style.font-weight]="'lighter'" [style.font-size]="'small'">Please, change to the correct chain</span>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-container>

