<ng-container *ngIf="!activeModel || !(connector.connected$ | async)">
  <div class="construct">
    <mat-card [style.margin-top]="'3rem'">
      <mat-card-title>Warning</mat-card-title>
        <mat-card-subtitle *ngIf="!(connector.connected$ | async)">Not connected. Please, initiate a connection on the sidenav.</mat-card-subtitle>
        <mat-card-subtitle *ngIf="(connector.connected$ | async) && !activeModel">No active model. Please choose one from the sidenav.</mat-card-subtitle>
      <mat-card-content>
        <div class="container"></div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
<ng-container *ngIf="activeModel && (connector.connected$ | async)">
  <app-abi-connector [model]="activeModel"></app-abi-connector>
</ng-container>

