<mat-card>
  <mat-card-title>Deploy</mat-card-title>
  <mat-card-subtitle *ngIf="!(connector.connected$ | async)">You need to connect first</mat-card-subtitle>
  <mat-card-content>
    <p *ngFor="let entry of deployArguments">
      <mat-form-field appearence="fill">
        <mat-label>{{entry.name}}</mat-label>
        <input matInput [formControl]="entry.control" [placeholder]="entry.type" />
        <mat-error *ngIf="entry.control.hasError('required')">{{entry.name}} is required</mat-error>
      </mat-form-field>
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button (click)="deployJsonAbi()" [disabled]="!(connector.connected$ | async)" mat-raised-button color="primary">deploy</button>
  </mat-card-actions>
</mat-card>
