<div class="construct">
  <mat-card [style.margin-top]="'3rem'">
    <mat-card-header>
      <mat-card-title>@taiki/dappkit testflight</mat-card-title>
      <mat-card-subtitle>Test application for dappkit proxies</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content [style.padding]="'0 1rem'">
      <div class="container">
        <div class="item">
          <h2>How to?</h2>
          <ul>
            <li>Open sidebar</li>
            <li>Click connect</li>
            <li>Select and interact with a Contract</li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="item">
          <h2>What network am I connecting to?</h2>
          <p>The application will piggyback on your chosen metamask selected network</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
