<app-page-header [title]="route.snapshot.paramMap.get('model') || ''"></app-page-header>
<mat-drawer-container autosize [style.background-color]="'#eee'" [style.padding-left]="'7rem'" [style.padding-top]="'3rem'">
  <mat-drawer #drawer mode="over" [autoFocus]="false" position="end" [style.width]="'30.3rem'">
  <ng-container [ngSwitch]="selectedMiniFab">
    <ng-container *ngSwitchCase="1">
      <app-abi-deployer [abi]="model.abi"></app-abi-deployer>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <app-deployed-contracts></app-deployed-contracts>
    </ng-container>
  </ng-container>
</mat-drawer>
  <div [style]="{position: 'fixed', right: '1rem'}">
    <p>
      <button mat-mini-fab color="primary" (click)="selectedMiniFab = 1; drawer.toggle()">
        <mat-icon>note_add</mat-icon>
      </button>
    </p>
    <p>
      <button mat-mini-fab color="primary" (click)="selectedMiniFab = 2; drawer.toggle()">
        <mat-icon>list</mat-icon>
      </button>
    </p>
  </div>
  <app-abi-methods [style]="{display: 'block', paddingRight: '7rem'}"></app-abi-methods>
</mat-drawer-container>


